<h4 class="card-header">{{ title }}</h4>
<div *ngIf="trips !== undefined && trips.length > 0; then thenBlock; else elseBlock;"></div>
<ng-template #thenBlock>
  <div class="card-body">
    <div class="d-flex" [routerLink]="['.', trip.id]" *ngFor="let trip of trips">
      <img class="me-3 rounded-circle" [src]="otherUser(trip)!.photo" width="80" height="80">
      <div>
        <h5 class="mt-0 mb-1 fw-bold">{{ otherUser(trip)!.first_name }}</h5>
        <p>
          <strong>{{ trip.pick_up_address }}</strong> to <strong>{{ trip.drop_off_address }}</strong><br>
          <span class="text-secondary">{{ trip.status }}</span>
        </p>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="card-body text-center">
    No trips.
  </div>
</ng-template>
