<div class="row">
  <div class="col">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/rider']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Trip</li>
      </ol>
    </nav>
    <div class="card">
      <h4 class="card-header">Trip</h4>
      <div class="card-body">
        <div class="d-flex">
          <img class="me-3 rounded-circle" [src]="trip.driver!.photo" width="80" height="80">
          <div>
            <h5 class="mt-0 mb-1 fw-bold">{{ trip.driver!.first_name }}</h5>
            <p>
              <strong>{{ trip.pick_up_address }}</strong> to <strong>{{ trip.drop_off_address }}</strong><br>
              <span class="text-secondary">{{ trip.status }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
