<div class="row">
  <div class="col">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['..']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Request</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">Request Trip</div>
      <div class="card-body">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker
            *ngFor="let marker of markers"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
        >
        </agm-marker>
        </agm-map>
        <form class="mt-3" #requestForm="ngForm" novalidate (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="pickUpAddress">Pick up address:</label>
            <input
              id="pickUpAddress"
              class="form-control"
              type="text"
              (blur)="onUpdate()"
              [(ngModel)]="trip.pick_up_address"
              name="pickUpAddress"
              required
            >
          </div>
          <div class="form-group">
            <label for="dropOffAddress">Drop off address:</label>
            <input
              id="dropOffAddress"
              class="form-control"
              type="text"
              (blur)="onUpdate()"
              [(ngModel)]="trip.drop_off_address"
              name="dropOffAddress"
              required
            >
          </div>
          <button
            class="btn btn-primary btn-block mb-3"
            type="button"
            (click)="onUpdate()"
            [disabled]="!requestForm.form.valid"
          >Update Map</button>
          <button
            class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!requestForm.form.valid"
          >Submit
        </button>
        </form>
      </div>
    </div>
  </div>
</div>
